{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    {{ form_start(form) }}
    {{ form_errors(form.email, {'attr' : {'class': 'alert bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative'}}) }}

    <div class="example-wrapper">
        <div class="flex justify-content-center">
            <div class="rounded-lg shadow-lg bg-white max-w-xl w-100">
                <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
                    <img class="rounded-t-lg object-cover h-48 w-96" src="{{ asset('/img/') }}{{ app.user.profilepic }}" alt=""/>
                </a>
                <div class="p-6">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-700"
                    >Nom</label
                    >
                    {{ form_widget(form.name , {'value': app.user.name|trim, 'attr' : {'class': 'form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'}}) }}
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-700"
                    >Email</label
                    >
                    {{ form_widget(form.email , {'value': app.user.email|trim, 'attr' : {'class': 'form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'}}) }}
                    <button type="submit"  class=" mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Modify the informations</button>
                    {{ form_help(form) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
