<html>
<head>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <script src="../path/to/tw-elements/dist/js/index.min.js"></script>

    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('build/app.js') }}">
        <script src="../path/to/tw-elements/dist/js/index.min.js"></script>
    {% endblock %}
</head>

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ flashError }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        {#        <img class="card-img background" src="{{ asset('img/login-page.jpg') }}" alt="Card image">#}
        <div class="px-12 py-6 mt-4 text-left bg-white shadow-lg">
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-blue-600" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path
                            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                </svg>
            </div>
            <h3 class="text-2xl font-bold text-center">Veuillez créer votre compte</h3>

            <form action="" method="post">
    {{ form_start(registrationForm,{'attr': { 'class': 'form-group mx-5 login-custom'}} ) }}
            <div class="mt-4">

        {{ form_row(registrationForm.email, {'attr': {'class': 'block w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}}) }}
            </div>
           <div class="mt-4">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'attr': {'class': 'w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600'}
        }) }}
           </div>
            <input type="hidden" name="_target_path" value="/"/>
        {{ form_row(registrationForm.agreeTerms, {'attr': { 'class': 'form-check-input ml-1'}}) }}

        <button type="submit" class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Register</button>
        {{ form_end(registrationForm) }}
            </form>
        </div>
    </div>


{#    <div class="flex items-center justify-center min-h-screen bg-gray-100">#}
{#        #}{#        <img class="card-img background" src="{{ asset('img/login-page.jpg') }}" alt="Card image">#}
{#        <div class="px-12 py-6 mt-4 text-left bg-white shadow-lg">#}
{#            <div class="flex justify-center">#}
{#                <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-blue-600" fill="none" viewBox="0 0 24 24"#}
{#                     stroke="currentColor">#}
{#                    <path d="M12 14l9-5-9-5-9 5 9 5z" />#}
{#                    <path#}
{#                            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />#}
{#                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
{#                          d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />#}
{#                </svg>#}
{#            </div>#}
{#            <h3 class="text-2xl font-bold text-center">Login to your account</h3>#}
{#            <form action="{{ path('login') }}" method="post">#}
{#                <div class="mt-4">#}
{#                    <div>#}
{#                        <h1 class="block" for="email">Email</h1>#}
{#                        #}{#                        <label class="block" for="email">Email<label>#}
{#                        <label for="username"></label><input type="text" placeholder="Email"#}
{#                                                             class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" id="username" name="_username" value="{{ last_username }}">#}
{#                        <span class="text-xs tracking-wide text-red-600">Email field is required </span>#}
{#                    </div>#}
{#                    <div class="mt-4">#}
{#                        <h1 class="block">Password</h1>#}
{#                        <input type="password" placeholder="Password"#}
{#                               class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" id="password" name="_password" >#}
{#                    </div>#}
{#                    <input type="hidden" name="_target_path" value="/"/>#}
{#                    <div class="flex items-baseline justify-between">#}
{#                        <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" type="submit">Login</button>#}
{#                        <a href="#" class="text-sm text-blue-600 hover:underline">Forgot password?</a>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

</html>
